@import "variables";

.content {
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
  }

  &-main {
    margin-left: 5%;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &-cart {
    margin-top: 10%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

  }

}